a {
  color: grey;
  font-family: "Tilt Prism", cursive;
  font-size: 30px;
  text-align: left;
}

a.membership.icon {
  color: orange;
  font-family: "Tilt Prism", cursive;
  font-size: 30px;
  text-align: right;
}

a.cart.icon {
  color: orange;
  font-family: "Tilt Prism", cursive;
  font-size: 30px;
  text-align: right;
}

h1 {
  color: black;
  font-family: "Playfair", serif;
  font-size: larger;
  text-align: left;
  margin: 0;
  padding: 20px 0;
  color: black;
}

h2 {
  color: black;
  font-family: "Playfair", serif;
  font-size: larger;
  text-align: left;
  margin: 0;
  padding: 20px 0;
  color: black;
}

form label {
  display: block;
  margin-bottom: 5px;
}

.join-now,
.back-to-home {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20px;
}

.back-to-home {
  bottom: 0;
}

.categories {
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url("/images/jordan2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 900px;
  height: 900px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 0 40px 40px 40px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

/* Error message styles */

.error-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: red;
}

.error-message {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bolder;
}
